* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000; 
    overflow: hidden;
}

.contenedor-mundo {
    width: 100vw;
    height: 100vh;
}

model-viewer {
    width: 100%;
    height: 100%;
    --progress-bar-color: transparent;
}